* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/*Header Style */

header {
    background: rgba(0, 0, 0.8);
    display: flex;
    width: 100%;

}
 
nav {
    width: 100%;
} 

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    color: white;

}

nav a {
    color: white;
}

/* Shop online Style */

#shop {
    margin: auto;
    border: blue;
    width: 100%;
    padding: 20px 0;
    
    
}

/* General Section style */

.full-width-section  {
    width: 100%;
    height: 650px;
    margin-bottom: 20px;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* iPhone Style */

.iphone {

    background-image: url("https://www.apple.com/v/home/aj/images/promos/iphone-13-pro/tile_iphone_13pro__fohp4zoftvu6_large_2x.jpg");
    background-position: center;
    background-size: auto;

}
/* Watch section style */

.watch {
   

    background-image: url("https://www.apple.com/v/home/aj/images/heroes/watch-series-7/hero_watch__f05go333pz2i_largetall.jpg");
    background-position: center;
    background-size: auto;
}


/* Valentine's section */


.iphone-valentines {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/valentines-day/promo_vday22__oz9b5x4x7ney_large.jpg");
    background-position: center;
    background-size: auto;
    color: rgb(112, 16, 72);

}


.full-width-section div   {
    width: 150px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


#learn-buy {

    margin: auto;
    margin-top: 20px;
    width: 150px;
    display: flex;

    
}


.promos-container {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: rgb(253, 250, 250);
    width: 100%;

}
  
.inner-promo-div {
    background-position: center;
    background-size: cover;
    margin: 15px;
    display: flex; 
    flex-direction: row;
    height: 350px;
    width: 45%;
    background-color: cornflowerblue;
    position: relative;
}

#inner-div-1 {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-heart-month/promo_watch_heart__dlf8uc5h0kae_large.jpg");
}

#inner-div-2 {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/shot-on-iphone/tile_soip__f0c6lef982em_large.jpg");
}

#inner-div-3 {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/tv-plus-oscar-nominations/hero_coda__cv3jny7jpe6a_largetall.jpg");
}

#inner-div-4 {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/apple-card/tile__cauwwcyyn9hy_large.jpg");
}

.text-watch-div {
    position: absolute;
    margin: auto;
    align-items: center;
}

@media (max-width: 768px) {

    nav li  {
      display: none;
    }

    .small-version { 
        display: block
    }

    
    .iphone {
       background-size: cover;
        
    }
    
    .watch {
   

        /*  background-image: url("https://www.apple.com/v/home/aj/images/heroes/watch-series-7/hero_watch__f05go333pz2i_largetall.jpg");*/
            background-image: url("https://sfractus-images.cleo.media/unsafe/6x0:1108x1102/641x0/images/La-montre-connectee-Apple-Watch-Series-7-5568.jpg");
        }
        

    .promos-container {
        background-size: contain ;
        
    }

    .inner-promo-div {
        width: 90%;
    }

  }




    
  